<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.finchley.study.dao.UserDao" >
    
    <sql id="Base_Column_List" >
        user_id, user_name, password, name,sex,birth,
    </sql>
    <select id="getUser" resultType="org.finchley.study.dto.UserDO" parameterType="org.finchley.study.query.Query" >
       select * from sys_user  
       	<trim prefix="WHERE" prefixOverrides="AND | OR">
       		<if test="userId != null">	user_id = #{userId} </if>
       		<if test="not_user_id != null">	user_id != #{not_user_id} </if>
       		<if test="username!= null">and username=#{username} </if>
       		<if test="mobile!= null">and mobile = #{mobile} </if>
       		<if test="email!= null">and email = #{email} </if>
       	</trim>
       	limit 1
    </select>
    <select id="list" resultType="org.finchley.study.dto.UserDO" parameterType="org.finchley.study.query.Query" >
        select u.*,x.name as sexn,s.name as statusn from sys_user u 
        left join (select name,value from sys_dict where parent_id=1) x on u.sex = x.value 
        left join (select name,value from sys_dict where parent_id=2) s on u.status = s.value
        	<trim prefix="WHERE" prefixOverrides="AND | OR">
       		<if test="status != null">and u.status = #{status} </if>
       		<if test="nameL!= null">and u.name like "%"#{nameL}"%" </if>
       		<if test="mobileL!= null">and u.mobile like "%"#{mobileL}"%" </if>
       		<if test="emailL!= null">and u.email like "%"#{emailL}"%" </if>
       	</trim>
       	<if test="offset != null and limit !=null" > limit #{offset},#{limit}</if>
    </select>
    <select id="getCount" resultType="Integer" parameterType="org.finchley.study.query.Query" >
        select count(user_id) from sys_user u 
        <trim prefix="WHERE" prefixOverrides="AND | OR">
       		<if test="status != null">and u.status = #{status} </if>
       		<if test="nameL!= null">and u.name like "%"#{nameL}"%" </if>
       		<if test="mobileL!= null">and u.mobile like "%"#{mobileL}"%" </if>
       		<if test="emailL!= null">and u.email like "%"#{emailL}"%" </if>
       	</trim>
    </select>
    <insert id="createUser" parameterType="org.finchley.study.dto.UserDO" >
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="live_address != null" >
                live_address,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="birth != null" >
                birth,
            </if>
            <if test="hobby != null" >
                hobby,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="username != null" >
                #{username},
            </if>
            <if test="password != null" >
                #{password},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="email != null" >
                #{email},
            </if>
            <if test="mobile != null" >
                #{mobile},
            </if>
            <if test="live_address != null" >
                #{live_address},
            </if>
            <if test="sex != null" >
                #{sex},
            </if><if test="birth != null" >
                #{birth},
            </if>
             <if test="hobby != null" >
                #{hobby},
            </if>
        </trim>
    </insert>
    <update id="updateUser" parameterType="org.finchley.study.dto.UserDO" >
        update sys_user
        <set >
            <if test="email != null" >
                email = #{email},
            </if>
            <if test="password != null" >
                password = #{password},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile},
            </if>
             <if test="birth != null" >
                birth = #{birth},
            </if>
             <if test="live_address != null" >
                live_address = #{live_address},
            </if>
             <if test="status != null" >
                status = #{status},
            </if>
             <if test="sex != null" >
                sex = #{sex},
            </if>
             <if test="hobby != null" >
                hobby = #{hobby},
            </if>
        </set>
        where user_id = #{user_id}
    </update>
    
    <update id="updateState" parameterType="java.util.Map">
    	update sys_user set status = #{status} where user_id in 
    	<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
    </update>
    
    <update id="resetPassword" parameterType="java.util.Map">
    	update sys_user set password= #{password} where user_id in 
    	<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
    </update>
    
    <delete id="delete" parameterType="java.util.List">
   		 delete from sys_user where user_id in
    	<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>;
		 delete from sys_user_role where user_id in
    	<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>;
    </delete>
    
    <insert id="setUserRole" parameterType="java.util.Map">
    
    delete from sys_user_role where user_id = #{user_id};
    
    insert into sys_user_role (user_id,role_id) values
    <foreach collection="list" item="item" index="index" separator=",">
    	(#{user_id},#{item})
    </foreach>;
    </insert>
    
    <select id="getUserRole" resultType="org.finchley.study.dto.RoleDO" parameterType="org.finchley.study.query.Query">
    	select b.* from sys_user_role a, sys_role b where a.role_id = b.role_id and a.user_id=#{user_id}
    </select>
</mapper>